.cart-item-actions {
	@include media(768) {
		width: 315px;
	}
	@include text-transform();
	@include grid-column(12);
	font-size: $fontSmall;
	margin: 45px 0 5px 0;
	padding: 0;
	list-style: none;

	.cart-actions--item {
		@include media-max(767) {
			@include grid-column(3.5);
			text-align: center;
		}
		@include media(768) {
			display: inline;
			margin: 0 20px 0 20px;
		}
		cursor: pointer;
	}

	.cart-actions--item__first {
		margin-left: 10px;
	}

	.cart-actions--seperator {
		@include media-max(767) {
			@include grid-column(0.5);
		}
		@include media(768) {
			display: inline;
		}
	}
}
