.cart-item-actions {
	@include media(768) {
		width: 315px;
	}
	@include text-transform();
	font-size: $fontSmall;
	@include grid-column(12);
	margin: 45px 0 5px 0;
	padding: 0;
	list-style: none;

	.cart-actions--item {
		@include media-max(767) {
			@include grid-column(3.5);
			text-align: center;
		}
		cursor: pointer;
		@include media(768) {
			display: inline;
			padding: 0 20px 0 20px;

			&::first-child {
				padding-left: 10px;
			}
		}
	}

	.cart-actions--seperator {
		@include media-max(767) {
			@include grid-column(0.5);
		}
		@include media(768) {
			display: inline;
		}
	}
}
