.cart-coupon {
	@include text-transform();
	text-align: center;
	@include clearfix();
	@include grid-column(12, 0);
	box-sizing: border-box;

	@include media-max(767) {
		padding: 30px;
	}

	@include media(768) {
		padding: 30px 0;
	}

	.cart-coupon--text {
		@include text-transform();
		@include media(768) {
			@include grid-column(3);
			font-size: $fontSmall;
			margin: 20px 0;
		}
	}
	.cart-coupon-action {
			 margin: 20px 0;
			 @include media-max(767) {
				 @include grid-column(12);
			 }
			 @include media(768) {
				 @include grid-column(8);
				 float: right;
			 }
			.cart-coupon--input {
				margin-right:8px;
				width: 139px;
				height: 35px;
				border:1px solid $borderColor;
				font-size: 12px;
				padding-left: 4px;
				padding-right: 4px;
				color: $bodyTxtColor;
			}

			.cart-coupon--input {
				width: 60%;
			}

			.cart-coupon--btn {
				width: 30%;
				margin-left: 5px;
			}
	}
}
