h1 {
	font-size: $fontXXLarge;
	font-weight: 300;
}

h2 {
	font-size: $fontMedium;
	font-weight: 300;
}

h3 {
	font-size: $fontMedium;
	font-weight: 500;
}

p {
	font-size: $fontBase;
}

legend {
	font-size: $fontMedium;
}
